<div style="padding: 50px">
    <strong>Book Sales</strong>

    <p>
        <strong>Date:</strong> <%= Date.today %>
    </p>
    <p>
        <strong>Time:</strong> <%= Time.now.strftime("%I:%M:%S %p %z") %>
    </p>

    <br/>
    <button id="clipboardjs-btn" data-clipboard-target="clipboardjs-target">COPY BELOW</button>
    <br/>
    <br/>



    <div id="clipboardjs-target">
        <% categories_with_books.each do |category, books| %>
            <strong>
                <a href="https://smumods.com/module/<%= category %>">
                    <%= category %>
                </a>
            </strong> 
            
            <br/>
            
            <% books.each_with_index do |book, index| %>
                <span>
                    <%= index + 1 %>. <%= book.title %>
                </span>
                <a href="<%= BooksHelper.get_book_url(book) %>">
                    &nbsp;(link)
                </a>
                <span>
                    💰 $<%= book.price %>
                </span>
                <br/>
            <% end %>
            <br/>
        <% end %>
    </div>
</div>