<div style="padding: 50px">
    <strong>Marketing Dashboard</strong>
    <br> 
    <br>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>

    <strong>Overall Stats</strong>
    <table>
        <tr>
            <th> Total Number of reviews </th>
            <th> Total Number of books </th>
        </tr>
        <tr>
            <th> <%= reviews_count %></th>
            <th> <%= books_count %></th>
        </tr>
    </table>
    <br>  
    <br>  
    <strong>Full List</strong>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Telegram Handle</th>
            <th>No.Reviews</th>
            <th>Account Created On</th>
            <th>Actions</th>
        </tr>
        <% users.sort_by { |k,v| k.created_at }.each do |user, count| %>
            <tr>
                <td> <%= user.id %></td>
                <td> <%= user.first_name + " " + user.last_name %></td>
                <td> <%= user.telegram_username %> </td>
                <td> <%= count %> </td>
                <td> <%= user.created_at.strftime("%m/%d/%Y %T") %> </td>
                <td> <%= link_to "View User", admin_user_path(user) %> </td>
            </tr>
        <% end %>
    </table>
    <br>
    <br>
    <strong>At Least 3 Reviews List</strong>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Telegram Handle</th>
            <th>No.Reviews</th>
            <th>Account Created On</th>
            <th>Actions</th>
        </tr>
        <% users.sort_by { |k,v| k.created_at }.each do |user, count| %>
            <% if count >= 3 %>
                <tr>
                    <td> <%= user.id %></td>
                    <td> <%= user.first_name + " " + user.last_name %></td>
                    <td> <%= user.telegram_username %> </td>
                    <td> <%= count %> </td>
                    <td> <%= user.created_at.strftime("%m/%d/%Y %T") %> </td>
                    <td> <%= link_to "View User", admin_user_path(user) %> </td>
                </tr>
            <% end %>
        <% end %>
    </table>



</div>