<nav id="header_nav" class="navbar navbar-light navbar-expand-lg bg-white border-bottom box-shadow p-3 px-md-4 <%= 'mb-5' unless @view_options['no_margin'] %>">
  <a class="my-0 mr-md-5 font-weight-normal navbar-brand" href="<%= root_path %>">
    SMUMods Admin
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse mt-3 mt-sm-0" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="pr-4 text-dark" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="pr-4 text-dark" href="<%= about_path %>">About</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <% if current_club_admin %>
        <a id="signup-btn" class="btn btn-primary mr-0 mr-md-2 mb-3 mb-md-0 mt-3 mt-md-0" href="<% %>">Hi <%= current_club_admin.email %></a>
        <%= link_to 'Logout', destroy_club_admin_session_path, method: :delete, class: "btn btn-primary" %>
      <% else %>
        <a id="signup-btn" class="btn btn-primary mr-0 mr-md-2 mb-3 mb-md-0 mt-3 mt-md-0" href="<% %>">Login</a>
        <%= link_to 'Logout', destroy_club_admin_session_path, method: :delete, class: "btn btn-primary" %>
      <% end %>
    </ul>
  </div>
</nav>
